<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FinancialInstitute" connectionString="Data Source=babo-pc;Initial Catalog=FinancialInstitute;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="FinancialInstituteQueueBinding">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FinancialInstituteOpsBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="FinancialInstituteOpsBehavior" name="FinancialInstituteOps.FinancialInstituteOps">
        <endpoint address="" binding="netMsmqBinding" bindingConfiguration="FinancialInstituteQueueBinding"
            name="QueueEndpoint" contract="FinancialInstituteOps.IFinancialInstituteOps" />
        <endpoint address="mex" binding="mexHttpBinding" name="MexEndpoint"
            contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9003/FinancialInstitute/" />
            <add baseAddress="net.msmq://localhost/private/FinancialInstitute" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>