<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FinancialInstitute" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=FinancialInstitute;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8702/FinancialInstitution/"
        binding="netTcpBinding" bindingConfiguration="TcpFinancialBinding"
        contract="Server.IFinancialOps" name="TcpFinancialBinding" />
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="FinancialInstituteQueueBinding">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netTcpBinding>
        <binding name="TcpFinancialBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="true"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FinancialInstituteOpsBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="FinancialInstituteOpsBehavior" name="FinancialInstituteOps.FinancialInstituteOps">
        <endpoint address="" binding="netMsmqBinding" bindingConfiguration="FinancialInstituteQueueBinding"
            name="QueueEndpoint" contract="FinancialInstituteOps.IFinancialInstituteOps" />
        <endpoint address="mex" binding="mexHttpBinding" name="MexEndpoint"
            contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9003/FinancialInstitute/" />
            <add baseAddress="net.msmq://localhost/private/FinancialInstitute" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="financialinstitutetdin@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="financialinstitutetdin" password="admin12345" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>